</main>
<footer>
  <p class="title" style="margin-top: 0.5rem;">Iron<span class="titleTwo">Fitness</span></p>
  <p class="createdBy">© Created by Takami, Jerry, Ivona and Andrea</p>
</footer>
</body>

</html>