<%- include('partials/header.ejs'); -%>

<div class="container">
  <p class="title" style="margin-bottom: 1rem;">Iron<span class="titleTwo">Fitness</span></p>
  <!-- Members List -->
  <div class="subContainer">
    <div class="membersContainer">
      <div class="membersTopPart">
        <p style="margin: 0;">Members</p>
        <div class="membersInputContainer">
          <div class="searchInputContainer">
            <input class="searchInput" type="text" placeholder="search..." />
            <i class="fa fa-search"></i>
          </div>
          <button id="addMember" class="addMemberBtn">add member <i class="fa fa-plus-circle"></i></button>
        </div>
      </div>
      <div class="list-header">
        <p>ID</p>
        <p>Name</p>
        <p>Email</p>
        <p>Phone</p>
      </div>
      <div class="member-listDisplay">
        <p>001</p>
        <p>William Smith</p>
        <p>wsmith@email.com</p>
        <p>(123) 456 7890</p>
        <button class="viewBtn">view</button>
      </div>
      <div class="member-listDisplay">
        <p>002</p>
        <p>Sarah White</p>
        <p>swhite@email.com</p>
        <p>(987) 654 3210</p>
        <button class="viewBtn">view</button>
      </div>
    </div>
    <!-- Member Info Display -->
    <div class="memberDisplay">
      <div class="editContainer">
        <p class="nameInitial">W</p>
        <button class="editButton" title="edit">
          <i id="editBtn" class="fa fa-pencil"></i>
        </button>
      </div>
      <p class="memberName">William Smith</p>
      <p class="memberId">Member ID:  <span>001</span></p>
      <hr class="horizontalLine">
      <div>
        <div class="memberInfo">
          <p>First Name</p>
          <p>William</p>
        </div>
        <div class="memberInfo">
          <p>Last Name</p>
          <p>Smith</p>
        </div>
        <div class="memberInfo">
          <p>Email</p>
          <p>wsmith@email.com</p>
        </div>
      </div>
      <button class="doneButton">Done <i class="fa fa-check"></i></button>
      <button class="deleteButton">Delete <i class="fa fa-trash"></i></button>
    </div>
  </div>
  <!-- Modal Box -->
  <div id="modal-box" class="modal-container">
    <div class="modal-info">
      <i id="closeBtn" class="fa fa-times-circle"></i>
      <p style="margin: 0;">Add New Member!</p>
      <p style="text-align: end;">ID: 004</p>
      <div class="form-container">
        <form>
            <label>Name:</label>
            <input name="name" type="text" placeholder="Type in name..." required />     
            <label>Email:</label>
            <input name="email" type="email" placeholder="Type in email..." required />
            <label>Phone Number:</label>
            <input name="phoneNumber" type="tel" placeholder="Type in phone number..." required />
            <button class="submitBtn" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
 
  const handleSubmit = (event) => {
    event.preventDefault(); 
    const name = document.querySelector('input[name="name"]').value;
    const email = document.querySelector('input[name="email"]').value;
    const phoneNumber = document.querySelector('input[name="phoneNumber"]').value;

    if (!name || !email || !phoneNumber) {
      alert('Please fill in all fields.');
      return;
    }
    fetch('/add', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ name, email, phoneNumber }),
    })
    .then((response) => {
      if (response.ok) {
        alert('Member added successfully!');
        document.querySelector('form').reset();
        modal.style.display = "none";
      } else {
        alert('An error occurred while adding the member.');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
      alert('An error occurred while adding the member.');
    });
  };


  document.querySelector('form').addEventListener('submit', handleSubmit);


</script>


<%- include('partials/footer.ejs'); -%>