<%- include('partials/header.ejs'); -%>

<div class="container">
  <p class="title" style="margin-bottom: 1rem;">Iron<span class="titleTwo">Fitness</span></p>
  <div class="subContainer">
    <div class="membersContainer">
      <div class="membersTopPart">
        <p style="margin: 0;">Members</p>
        <div class="membersInputContainer">
          <div class="searchInputContainer">
            <input class="searchInput" type="text" placeholder="search..." />
            <i class="fa fa-search"></i>
          </div>
          <button id="addMember" class="addMemberBtn">add member <i class="fa fa-plus-circle"></i></button>
        </div>
      </div>
    </div>
    <div class="memberDisplay">
      <div class="editContainer">
        <p class="nameInitial">W</p>
        <button class="editButton" title="edit">
          <i id="editBtn" class="fa fa-pencil"></i>
        </button>
      </div>
      <p class="memberName">William Smith</p>
      <p class="memberId">Member ID:  <span>001</span></p>
      <hr class="horizontalLine">
      <div>
        <div class="memberInfo">
          <p>First Name</p>
          <p>William</p>
        </div>
        <div class="memberInfo">
          <p>Last Name</p>
          <p>Smith</p>
        </div>
        <div class="memberInfo">
          <p>Email</p>
          <p>wsmith@email.com</p>
        </div>
      </div>
      <button class="doneButton">Done <i class="fa fa-check"></i></button>
      <button class="deleteButton">Delete <i class="fa fa-trash"></i></button>
    </div>
  </div>

  <!-- Modal Box -->
  <div id="modal-box" class="modal-container">
    <div class="modal-info">
      <i id="closeBtn" class="fa fa-times-circle"></i>
      <p style="margin: 0;">Add New Member!</p>
      <p style="text-align: end;">ID: 004</p>
      <div class="form-container">
        <form>
            <label>Name:</label>
            <input type="text" placeholder="Type in name..." required />     
            <label>Email:</label>
            <input type="email" placeholder="Type in email..." required />
            <label>Phone Number:</label>
            <input type="tel" placeholder="Type in phone number..." required />
            <button class="submitBtn" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  let modal = document.getElementById("modal-box");
  let addBtn = document.getElementById("addMember");
  let closeBtn = document.getElementById("closeBtn");

  addBtn.onclick = function() {
    modal.style.display = "block";
  };

  closeBtn.onclick = function() {
    modal.style.display = "none";
  };

  console.log(modal)
</script>

<%- include('partials/footer.ejs'); -%>