<%- include('partials/header.ejs'); -%>

<div class="container">
  <p class="title">Iron<span class="titleTwo">Fitness</span></p>
  <div class="subContainer">
    <div class="membersContainer">
      <div class="membersTopPart">
        <p style="margin: 0;">Members</p>
        <div class="membersInputContainer">
          <div class="searchInputContainer">
            <input class="searchInput" type="text" placeholder="search..." />
            <i class="fa fa-search"></i>
          </div>
          <button class="addMemberBtn">add member <i class="fa fa-plus-circle"></i></button>
        </div>
      </div>
    </div>
    <div class="memberDisplay">
      <div class="editContainer">
        <p class="nameInitial">W</p>
        <button class="editButton">
          <i class="fa fa-pencil"></i>
        </button>
      </div>
      <p class="memberName">William Smith</p>
      <p class="memberId">Member ID:  <span>001</span></p>
      <hr class="horizontalLine">
      <div>
        <div class="memberInfo">
          <p>First Name</p>
          <p>William</p>
        </div>
        <div class="memberInfo">
          <p>Last Name</p>
          <p>Smith</p>
        </div>
        <div class="memberInfo">
          <p>Email</p>
          <p>wsmith@email.com</p>
        </div>
      </div>
      <button class="doneButton">Done <i class="fa fa-check"></i></button>
      <button class="deleteButton">Delete <i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs'); -%>