:root {
  --yellow-color: #FF9F1C;
  --light-yellow-color: #FFBF69;
  --white-color: #fff;
  --mint-color: #CBF3F0;
  --dark-mint-color: #2EC4B6;

  --main-font: "Kanit", sans-serif;
}

main, footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
}

.title {
  font-weight: 500;
  color: var(--dark-mint-color);
}

.titleTwo {
  color: var(--yellow-color);
}