:root {
  --yellow-color: #FF9F1C;
  --light-yellow-color: #FFBF69;
  --white-color: #fff;
  --mint-color: #CBF3F0;
  --dark-mint-color: #2EC4B6;
  --gray-color: #737373;

  --main-font: "Kanit", sans-serif;
}

main, footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

.container {
  max-width: 81.25rem;
  width: 100%;
  height: 95vh;
}

.title {
  font-weight: 500;
  color: var(--dark-mint-color);
}

.titleTwo {
  color: var(--yellow-color);
}

.subContainer {
  display: flex;
  gap: 2rem;
}

.membersContainer {
  max-width: 56.25rem;
  width: 100%;
  height: 80vh;
  padding: 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
}

.membersInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.membersInputContainer {
  display: flex;
  align-items: center;
}

.memberDisplay {
  max-width: 23rem;
  width: 100%;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}